body{
    text-align: center;
    background-color: lavender;
    color: white;
    
}

#text {
    text-align: center;
    color: black;
   
    
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer"
    ;
    gap: 10px;
    
}


.rubrik{
    font-family: Impact, fantasy;
    grid-area: header;
  min-height: 400px;
  background-image: url(sol_bild_hitta_resa.jpeg);  
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
  text-align: center;
  color:white;
  
}
.rubrik1{
    font-family: Impact, fantasy;
    grid-area: header;
    min-height: 400px;
    background-image: url(starwars1.jpeg);  
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    text-align: center;
    color:white;
}
.rubrik2{
    font-family: Impact, fantasy;
    grid-area: header;
    min-height: 400px;
    background-image: url(fight.jpeg);  
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    text-align: center;
    color:white;
}
.rubrik3{
    font-family: Impact, fantasy;
    grid-area: header;
    min-height: 400px;
    background-image: url(inception.jpeg);  
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    text-align: center;
    color:white;
}
.mest {
grid-area: main;

font-family: Times, Times New Roman, serif;
}

.sida{
    grid-area:aside;
    font-family: Times, Times New Roman, serif;
}

h1 {
    text-align: center;
    color: lavender;
}
#footer {
    grid-area:footer;
    text-align: center;
    color: lavender;
    left: 0px;
    right: 0px;
    width: 100%;
    line-height: 30px;
    background: black;
   
   
}

@media screen and (max-width: 500px) {
	#text {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas:
			"header"
			
			"main"
			"aside"
			"footer";
	}
}