<!doctype html>
    <html lang="sv">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title> Hitta resa </title>

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

            <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">

            <link rel="shortcut icon" href="/static/images/test-logo3.png">
        </head>
	
	<body>
		<div id="wrapper">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffff;">
        <a class="navbar-brand d-lg-none" href="/"><img src="/static/images/test-logo1.png" style="padding: 20px;" alt="HittaResa Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Hem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gillar">Mina gillningar</a>
            </li>
            <a class="d-none d-lg-block" href="/">
              <img src="/static/images/test-logo3.png" style="height: 70px; margin-left: 20px; margin-right: 20px;" alt="HittaResa Logo">
           </a>
            <li class="nav-item">
                {% if current_user.is_authenticated %}
                <li>
                  <a href="/logout"
                    >Logout <span class="sr-only">(current)</span></a
                  >
                </li>
                {% else %}
                <li>
                  <a href="/inloggning"
                    >Login <span class="sr-only">(current)</span></a
                  >
                </li>
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/om">Om HittaResa</a>
            </li>
          </ul>
        </div>
      </nav>
              
      <div id="registrera-main">
        <!--Form till registrera-->
        <form method="POST">
          <h3>Registera</h3>
          <!--Visa flashade meddelanden -->
          <div class="flash">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}
                {% for error in errors %}
                <img src="/static/images/error-icon.png" alt="error-icon"> {{ error }}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
            <div class="form-group">
            <label for="email">E-post</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ange e-post" />
        </div>
        <div class="form-group">
            <label for="first_name">Namn</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ange för och efternamn" />
        </div>
        <div class="form-group">
            <label for="password1">Lösenord</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Ange lösenord" />
        </div>
        <div class="form-group">
            <label for="password2">Bekräfta lösenord</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Bekräfta lösenord" />
        </div>
          <br>
          <button type="submit" class="btn btn-primary">Registrera</button>
        </form>
      </div>      
               
      <div id="footer">
        <!--Footer-->
        <footer class="bg-dark text-center text-white">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-twitter"></i></a>
              <!-- Google -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-google"></i
              ></a>
              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-instagram"></i
              ></a>
              <!-- Linkedin -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-linkedin-in"></i
              ></a>
              <!-- Github -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-github"></i
              ></a>
            </section>
          </div>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="/">HittaResa.se</a>
          </div>
        </footer>
      </div>

		</div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	</body>
</html>