/*Allt här under tillhör globala saker*/
body{
    text-align: center;
    background-color: lightgrey;
}

#wrapper {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0rem;         
}

#filter-icon{
    width: 100%;
    display: inline-block;
}
#filter-icon img{
    float: left;
    width: 20px;
    height: 20px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    line-height: 70px;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-nav > li > a {
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 0px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


/*Allt här under tillhör gilla-sidan*/
#main-index{
    display: inline-block;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 1000px;
}
#main-bild{
    width: 100%;
    max-height: 200px;
}

#main{
    display: inline-block;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1000px;
}

#main h1{
    text-align: left;
    color:white;
    margin-top: 20px;
}

#main h3{
    text-align: left;
    color:white;
    margin-top: 20px;
}

#main h4{
    color:black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card{
    margin-bottom: 50px;
}

.card-deck{
    margin-bottom: 25px;
}


/*Allt här under tillhör om-sidan*/
article{
    background-color: white;
    color: black;
    text-align: left;
    border: 1px solid black;
    margin: 25px;
    padding: 25px;
}

#main > article > h1, h2, h3, h4, h5 {
    color: black; 
}


/*Allt här under tillhör logga in-sidan*/
#logga-in-main{
    display: inline-block;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 1000px;
}

#logga-in-main .form-control {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: lightgrey;
    background-clip: padding-box;
    border-radius: 0%;
    transition: none;
    outline:0;
    border:none;
    border-bottom: 1px solid #C64343;
}

#logga-in-main label {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 20px;
}

#logga-in-main input{
    outline:0;
    border:none;
    border-bottom: 1px solid #C64343;
}

#logga-in-main input:focus {
    outline: none !important;
    box-shadow: none !important;
}

#logga-in-main .form-control:focus {
    background-color: lightgrey;
}

#logga-in-main .btn-primary {
    color: #fff;
    background-color: #C64343;
    border-color: #C64343;
    width: 50%;
}

#logga-in-main .btn:hover{
    background-color: #ad3b3b;
    border-color: #ad3b3b;
}

#logga-in-main .lösenord{
    width: 50%;
    margin: auto;
    text-align: right;
    text-decoration: underline;
}

#logga-in-main p{
    margin-bottom: 0px;
}


/*Allt här under tillhör registrera-sidan*/
#registrera-main{
    display: inline-block;
    width: 90%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 50px;
    max-width: 1000px;
    padding-bottom: 174px;
}

#registrera-main .form-control {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: lightgrey;
    background-clip: padding-box;
    border-radius: 0%;
    transition: none;
    outline:0;
    border:none;
    border-bottom: 1px solid #C64343;
}

#registrera-main label {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 20px;
}

#registrera-main input{
    outline:0;
    border:none;
    border-bottom: 1px solid #C64343;
}

#registrera-main input:focus {
    outline: none !important;
    box-shadow: none !important;
}

#registrera-main .form-control:focus {
    background-color: lightgrey;
}

#registrera-main .btn-primary {
    color: #fff;
    background-color: #C64343;
    border-color: #C64343;
    width: 50%;
}

#registrera-main .btn:hover{
    background-color: #ad3b3b;
    border-color: #ad3b3b;
}

#registrera-main .lösenord{
    width: 50%;
    margin: auto;
    text-align: right;
    text-decoration: underline;
}

#registrera-main p{
    margin-bottom: 0px;
}





/*Allt här under tillhör swipe*/
.swipe {
    max-width: 100vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  
  .loaded.swipe {
    opacity: 1;
  }
  
  .swipe--status {
    position: absolute;
    top: 45%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .swipe--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .swipe_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .swipe_nope .fa-trash {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .swipe--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  
  .swipe--card {
    display: inline-block;
    width: 90vw;
    max-width: 500px;
    height: 70vh;
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
  .moving.swipe--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .swipe--card img {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .swipe--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .swipe--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .swipe--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
  }
  
  .swipe--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
  }

  .swipe--buttons button:hover {
    cursor: pointer;
  }
  
  .swipe--buttons button:focus {
    outline: 0;
  }
  
  .swipe--buttons i {
    font-size: 32px;
    vertical-align: middle;
  }
  
  .fa-heart {
    color: #FFACE4;
  }
  
  .fa-remove {
    color: #CDD6DD;
  }
